<!DOCTYPE html>
	<html lang="fr">
		<head>
			<meta charset="UTF-8">
			<script src="./static/js/jquery.js"></script>
			<script src="./static/js/popper.js"></script>
			<script src="./static/js/bootstrap.js"></script>
            <script src="./static/js/leaflet.js"></script>
			<title>CDFgeo {%block titre %}{%endblock%}</title>
			{% include "partials/css.html" %}
        	{% include "partials/metadata.html" %}
		</head>
		<body>
			<nav class="navbar navbar-expand bg-dark navbar-dark" style="background-color: #e6e6e6;">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="{{url_for("accueil")}}">CDFgeo</a>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="#">A propos<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Index<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">Partage<span class="sr-only">(current)</span></a>
						</li>
					</ul>
                    <form class="form-inline" action="#" method="GET">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Recherche">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</nav>
			<main class="container-expand">
                <div class="row">
	            	<div class="col pt-4">
	            	{% block js %}{% endblock %}
	            </div>
	        	</div>
				<div class="row">
	            	<div class="col">
	            	{% block corps %}{% endblock %}
	            </div>
	        	</div>
	            	<div id="map" style="height: 595px; width: 1320px">
	            	{% block map %}{% endblock %}
	                </div>
	        </main>
		</body>
	</html>
